#viewIndividualChat {
    background-image: url("https://i.ibb.co/7j0dKxx/Rectangle-47-1.png");
}

.contentIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40px;
    background: #F5EEDC;
    align-items: flex-end;
    justify-content: space-between;
    align-content: stretch;
}

#iconChatG {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    fill: #007bff;
    color: #2672c4;
    width: 45px;
    height: 43px;
}

#apiKeyIcon {
    fill: #007bff;
    color: #007bff;
    width: 45px;
    height: 43px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

#homeIcon {
    fill: #007bff;
    color: #007bff;
    width: 45px;
    height: 43px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.iconChat {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: -13px;
    /* align-content: flex-start; */
    flex-direction: column;
    align-items: center;
}

#textHome {
    margin: 0;
    font-size: 12px;
    text-align: center;
    line-height: 0.8;
    color: #266bb6;
}

#textKey {
    margin: 0;
    font-size: 12px;
    text-align: center;
    line-height: 0.8;
    color: #266bb6;
}

#textSociety {
    margin: 0;
    font-size: 12px;
    text-align: center;
    line-height: 0.8;
    color: #266bb6;
}

main {
    background-image: url(https://i.ibb.co/7j0dKxx/Rectangle-47-1.png);
    background-size: contain;
    background-repeat: round;
    width: 100%;
    display: grid;
    height: calc(100vh - 70px);
    grid-template-rows: max-content 1fr max-content;
}

.sharkImg {
    margin: 0;
    width: 60px;
    height: 60px;
    border-radius: 4rem;
    box-shadow: 3px 3px 2px rgb(0 0 0 / 18%);
}

.message-input {
    margin-top: 0;
    border-radius: 3rem;
    border: none;
    box-shadow: inset 0px 0px 4px #d48a05;
    height: 40px;
    width: calc(100% - 80px);
    padding-left: 1rem;
    margin-left: 8px;
    margin-bottom: 10px;
}

.nameSharks {
    font-size: 17px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    place-self: end start;
}

#iconSends {
    position: absolute;
    bottom: 14px;
    transform: translateX(-46px);
    width: 35px;
    height: 35px;
    fill: #007bff;
    color: #007bff;
}

.response-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 0px 10px;
    margin: 0 0 10px;
}

.user-response {
    background-color: #52a2f9;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: start;
    width: max-content;
    margin-left: auto;
    margin-right: 0;
    max-width: 75%;
}

.ai-response {
    background-color: #f6e0b9;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 10px 10px 10px 5px;
    text-align: start;
    height: 100%;
    max-width: 75%;
}

.input-container {
    position: relative;
}

.wordsuser {
    font-family: sans-serif;
    color: #ffffff;
}

.responsemessage {
    font-family: sans-serif;
    color: black;
    text-align: start;
}

.online {
    margin: 0;
    color: green;
    font-family: sans-serif;
    font-style: normal;
    text-align: left;
    opacity: 0.7;
}

.menu {
    display: grid;
    grid-template-columns: 80px 1fr;
    padding: 5px 10px 0;
    background-color: #dee4eb;
    border-top: 2px solid #cfcfcf;
    border-bottom: 2px solid #cfcfcf;
    column-gap: 8px;
    box-shadow: 0px 16px 6px 1px rgb(174 174 174 / 55%);
}

.imgSharkChat {
    grid-area: 1 / 1 / 3 / 2;
}



@media (min-width : 900px) {

    .contentIcons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 40px;
        background: #F5EEDC;
        align-items: flex-end;
        justify-content: space-between;
        align-content: stretch;
        padding: 1rem 15px;
        margin: 0 0%;
    }

    #homeIcon {
        fill: #007bff;
        color: #007bff;
        width: 43px;
        height: 40px;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
    }

    #textHome {
        margin: 0;
        font-size: 12px;
        text-align: center;
        line-height: 0.8;
        color: #266bb6;
    }

    #apiKeyIcon {
        fill: #007bff;
        color: #007bff;
        width: 43px;
        height: 40px;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
    }


    #iconChatG {
        fill: #007bff;
        color: #007bff;
        width: 43px;
        height: 40px;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
    }

    .message-input {
        margin-top: 0;
        border-radius: 3rem;
        border: none;
        box-shadow: inset 0px 0px 4px #d48a05;
        height: 40px;
        width: calc(100% - 80px);
        padding-left: 1rem;
        margin-left: 8px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .sharkImg {
        margin: 0;
        width: 60px;
        height: 60px;
        border-radius: 4rem;
        box-shadow: 3px 3px 2px rgb(0 0 0 / 18%);
    }

    .nameSharks {
        font-size: 21px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        place-self: end start;
    }

    .online {
        margin: 0;
        color: green;
        font-family: sans-serif;
        font-style: normal;
        text-align: left;
        opacity: 0.7;
        font-size: 15px;
    }

    #bodyChat {
        background-image: url(https://i.ibb.co/7j0dKxx/Rectangle-47-1.png);
        width: 100%;
        height: 100%;
        background-repeat: round;
        margin-left: 0px;
        margin-top: 5px;
    }

    .input-container {
        position: relative;
        margin-left: 0;
        margin-top: 5px;
    }

    .ai-response {
        background-color: #f6e0b9;
        padding: 5px 10px;
        border-radius: 20px;
        margin: 10px 5px 10px 32px;
        text-align: start;
        width: max-content;
    }

    div {
        margin-top: 0;
        align-self: auto;
    }

}